.cont-ej1{
    display: flex;
}

.color{
    height: 200px;
    width: 200px;
    background-color: red;
    transition: background-color .35s ease-in;
}

.color:hover{
    background-color: blue;
    transition: background-color .35s ease-out;
}

.tamanio{
    height: 200px;
    width: 200px;
    background-color: red;
    transition: height .65s ease-in, width .65s ease-in ;
}

.tamanio:hover{
    height: 400px;
    width: 300px;
    transition: height .35s ease-out, width .35s ease-out ;
}


.position{
    height: 200px;
    width: 200px;
    background-color: red;
    transition: transform 1s;
}
.position:hover{
    transform: translateY(500px);
}

.cuadrados{
    margin-right: 50px;
}

.random{
    height: 200px;
    width: 200px;
    background-color: red;
}

.make-bigger{
    height: 400px;
    width: 400px;
    background-color: red;
}
.change-position{
    height: 200px;
    width: 200px;
    background-color: red;
    transition: transform 1s;
    transform: translateY(500px);
}

.change-color{
    height: 200px;
    width: 200px;
    background-color: blue;
}

.clock {
    border-radius: 50%;
    background: #fff url(clock.svg) no-repeat center;
    background-size: 90%;
    height: 20em;
    padding-bottom: 31%;
    position: relative;
    width: 25em;
  }
  
  .clock:after {
    background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    z-index: 10;
  }

  .minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .hours {
    background: #000;
    height: 10%;
    left: 48.75%;
    position: absolute;
    top: 40%;
    transform-origin: 50% 100%;
    width: 2.5%;
  }
  
  .minutes {
    background: #000;
    height: 25%;
    left: 49%;
    position: absolute;
    top: 25%;
    transform-origin: 50% 100%;
    width: 2%;
  }

  .seconds {
    background: #000;
    height: 20%;
    left: 49.5%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
  }

  @keyframes rotate {
    100% {
      transform: rotateZ(360deg);
    }
  }

  .hours-container {
    animation: rotate 43200s infinite linear;
  }
  .minutes-container {
    animation: rotate 3600s infinite linear;
  }
  .seconds-container {
    animation: rotate 60s infinite linear;
  }

  .nami-der{
      width: 44px;
      height: 40px;
      background: url('total-der.png') left center;
      animation: play 0.8s steps(6) infinite;
  }
  .nami{
      width: 44px;
      height: 40px;
      background: url('total.png') left center;
      animation: play 0.8s steps(6) infinite;
  }

  @keyframes play {
      100% {background-position: -264px;}
  }